<div class="overflow-scroll h-[300px]">
  <table class="w-full table-auto text-left border-collapse">
    <thead>
      <tr class="bg-gray-200 text-gray-700 uppercase text-sm h-[50px]">
        <th class="px-4 py-2 border text-center">ID</th>
        <th class="px-4 py-2 border text-center">Name</th>
        <th class="px-4 py-2 border text-center">PhoneNumber</th>
        <th class="px-4 py-2 border text-center">Email</th>
        <th class="px-4 py-2 border text-center">Actions</th>
      </tr>
    </thead>
    <tbody class="h-20">
      <tr class="hover:bg-gray-100" *ngFor="let item of users">
        <td class="px-4 py-2 border">{{ item.id }}</td>
        <td class="px-4 py-2 border">{{ item.name }}</td>
        <td class="px-4 py-2 border">{{ item.phone }}</td>
        <td class="px-4 py-2 border">{{ item.email }}</td>
        <td class="px-4 py-2 border flex items-center justify-center space-x-4">
          <button
            class="px-4 py-2 bg-purple-500 text-white rounded-lg shadow-md hover:shadow-lg hover:bg-purple-600 transition focus:ring-4 focus:ring-purple-500 focus:ring-opacity-50"
          >
            <a [routerLink]="['/editUser' , item.id]"> Edit </a>
          </button>
          <button
            (click)="deleteUser(item.id)"
            class="px-4 py-2 bg-red-500 text-white rounded-lg shadow-md hover:shadow-lg hover:bg-red-600 transition focus:ring-4 focus:ring-red-500 focus:ring-opacity-50"
          >
            Delete
          </button>
          <button
            class="px-4 py-2 bg-gray-500 text-white rounded-lg shadow-md hover:shadow-lg hover:bg-gray-600 transition focus:ring-4 focus:ring-gray-500 focus:ring-opacity-50"
          >
            <a
              [routerLink]="['/preview' , item.id]"
              routerLinkActive="router-link-active"
            >
              Preview
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
